#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: none;
}

.card {
  padding: 2em;
  background: #FFFFFF;
  box-shadow: 0 8px 24px rgba(55,65,81,0.06);
  border-radius: 12px;
}

.read-the-docs {
  color: #6B7280;
}
